body {
    font-family: 'Source Sans Pro', sans-serif;

}

#displayedThought {
    animation-name: example;
    animation-duration: 3s;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 100;
    
    /* text-align: center; */
    color: black;
    font-size: 30px;
}

#time {
    padding: 20px;
    float: right;
    font-size: 20px;
}

@keyframes example {
    from {opacity:0}
    to {opacity:100}
  }
  